
.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}
.position-fixed {
  position: fixed;
}

//top
.top-0{
  top: 0 !important;
}
.top-25{
  top: 25% !important;
}
.top-50{
  top: 50% !important;
}
.top-75{
  top: 75% !important;
}
.top-100{
  top: 100% !important;
}

.top-25px{
  top: 25px !important;
}
.top-50px{
  top: 50px !important;
}
.top-75px{
  top: 75px !important;
}
.top-100px{
  top: 100px !important;
}


//right
.right-0{
  right: 0 !important;
}
.right-25{
  right: 25% !important;
}
.right-50{
  right: 50% !important;
}
.right-75{
  right: 75% !important;
}
.right-100{
  right: 100% !important;
}
.right-25px{
  right: 25px !important;
}
.right-50px{
  right: 50px !important;
}
.right-75px{
  right: 75px !important;
}
.right-100px{
  right: 100px !important;
}

//bottom
.bottom-0{
  bottom: 0 !important;
}
.bottom-25{
  bottom: 25% !important;
}
.bottom-50{
  bottom: 50% !important;
}
.bottom-75{
  bottom: 75% !important;
}
.bottom-100{
  bottom: 100% !important;
}
.bottom-25px{
  bottom: 25px !important;
}
.bottom-50px{
  bottom: 50px !important;
}
.bottom-75px{
  bottom: 75px !important;
}
.bottom-100px{
  bottom: 100px !important;
}

//left
.left-0{
  left: 0 !important;
}
.left-25{
  left: 25% !important;
}
.left-50{
  left: 50% !important;
}
.left-75{
  left: 75% !important;
}
.left-100{
  left: 100% !important;
}
.left-25px{
  left: 25px !important;
}
.left-50px{
  left: 50px !important;
}
.left-75px{
  left: 75px !important;
}
.left-100px{
  left: 100px !important;
}