


/*Color*/
.text-danger {
    color: red;
}
.text-primary {
    color: blue;
}
.text-success {
    color: green;
}

/*Background*/
.bg-danger {
    background: red;
}
.bg-primary {
    background: blue;
}
.bg-success {
    background: green;
}